.footer_wrap
  .footer-html.container.center-align
    a(href="/")
      img(src="" data-src="/images/branding/Footer_Positive.png" class="lazy")
    h3
      a(href="/project/copyright") The Positive     
      

  