.footer_wrap
  .footer-html.container.center-align
    a(href="/the-positive")
      img(src="/images/branding/Footer_Positive.png" class="lazy-ignore")
    h3
      a(href="/the-positive") The Positive


  