.header-container
  .wrapper.clearfix
    span(class="icon")
          a(href='#sidr_menu', title="menu", id="menu_button") <span class="fa fa-bars"></span>
    if theme.logo
      a(href= config.root, id="logo")
        img(src= theme.logo, alt= config.title, title= config.title)
    ul.menu-large
      li
        a(href="/modules/") Modules
      li
        a(href="/activism") Activism
      li
        a(href="/activism/training") Training
      li
        a(href="/activism/volunteer") Volunteer
      li
        a(href="/live", class="live") Live
    a(href='/donate', class='call-to-action donate btn green white-text') <span>Donate</span> <span class="fa fa-heart"></span>
    