<div id="sidr_menu" class="sidr_window">
    <img src="/images/branding/ParadigmNext-Sidebar.png" class="lazy-ignore">
    <div class="menu-inner">
      <ul>
        <li><a href="/modules/">Modules</a></li>
        <ul>
          <li><a href="/modules/">Local Resilience</a></li>
          <li><a href="/modules/">Peaceful Continuity</a></li>
          <li><a href="/modules/">Adaptive Action</a></li>
          <li><a href="/modules/">Modularity</a></li>
          <li><a href="/modules/">Tribal Identity</a></li>
        </ul>
        <li><a href="/activism">Activism</a></li>
        <li><a href="/volunteer">Volunteer</a></li>
        <li><a href="/live" class="live">Live</a></li>
        <li><a href="/project/donate">Donate</a></li>
      </ul>
    </div>
</div>