<div id="sidr_menu" class="sidr_window">
    <img src="/images/branding/ParadigmNext-Sidebar.png" class="lazy-ignore">
    <div class="menu-inner">
      <ul>
        <li><a href="/modules/">Modules</a></li>
          <ul>
            <li><a href="/modules/local-resilience">Local Resilience</a></li>
            <li><a href="/modules/peaceful-continuity">Peaceful Continuity</a></li>
            <li><a href="/modules/adaptive-action">Adaptive Action</a></li>
            <li><a href="/modules/modularity">Modularity</a></li>
            <li><a href="/modules/tribal-identity">Tribal Identity</a></li>
          </ul>
        <li><a href="/activism">Activism</a></li>
        <li><a href="/activism/downloads">Downloads</a></li>
        <li><a href="/activism/training">Training</a></li>
        <li><a href="/activism/volunteer">Volunteer</a></li>
        <li><a href="/live" class="live">Live</a></li>
        <li><a href="/donate">Donate</a></li>
      </ul>
    </div>
    <a href="/the-pongovi-experiment"><img src="/images/branding/Pongovi-Sidebar.png" class="lazy-ignore"></a>
</div>