<div id="sidr_social" class="sidr_window center-align">
  <span class="fa fa-times sidr_close"></span>
  <div class="social-inner">
    <h3 class="center-align">Follow us!</h3>
    <div class="sidr_wrap">
      <div class="subscribe-item"><a class="btn deep-orange accent-3 waves-effect waves-yellow" onclick="window.open('http://feedburner.google.com/fb/a/mailverify?uri=Stormcloudsgathering&amp;loc=en_US','emailsubscribe','width=800,height=550,left='+(screen.availWidth/2-375)+',top='+(screen.availHeight/2-150)+'');return false;" href="http://feedburner.google.com/fb/a/mailverify?uri=Stormcloudsgathering&amp;loc=en_US" class="site_email adaptive_menu_item"><span>Get Email Updates</span> <i class="fa fa-envelope"></i></a></div>
      <div class="subscribe-item"><a href="http://feeds.feedburner.com/Stormcloudsgathering" class="btn blue darken-1">RSS <i class="fa fa-rss"></i></a></div>
      <div class="subscribe-item"><div id="side-subscribe" class="g-ytsubscribe" data-channel="StormCloudsGathering" data-layout="full" data-count="default"></div></div>
      <div class="subscribe-item"><a class="twitter-follow-button" href="https://twitter.com/scgUpdates" data-size="small">StormCloudsGathering</a></div>
      <div class="subscribe-item"><div class="fb-like" data-href="https://facebook.com/StormCloudsGathering" data-width="200" data-layout="standard" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div></div>
    </div>
  </div>  
</div>